*.py[cod]
*.egg-info
*.eggs
*.env
.ipynb_checkpoints

build
dist
.cache
__pycache__

htmlcov
.coverage
coverage.xml
.pytest_cache

docs/_build
docs/apidocs
data/

# ide
.idea
.eclipse
.vscode

# Mac
.DS_Store
examples/wip*.py
examples/Brintnell-Bologna-icefield/data
examples/Brintnell-Bologna-icefield/processing
*.png
*.txt
*.jpg
*.tif
*.tfw
*.shp
*.shx
*.prj
*.dbf
*.tar
