affine
cdsapi
gdal
geopandas
matplotlib
morphsnakes @ git+https://github.com/GO-Eratosthenes/morphsnakes@albedo-included
netcdf4
numpy
pandas
pillow
pygrib
pyproj
pystac
pystac-client
rasterio
rioxarray
scikit-image
scikit-learn
scipy
shapely>=2
stactools
stactools-sentinel2
