affine
cdsapi
geopandas
matplotlib
morphsnakes @ git+https://github.com/GO-Eratosthenes/morphsnakes@albedo-included
netCDF4
numpy
Pillow
pandas
pygrib
pyproj
pystac
pystac-client
rasterio
rioxarray
scikit-image
scikit-learn
scipy
shapely>=2